* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container {
  height: 100vh;
  display: flex;
  width: 100%;
}

.left-panel {
  flex: 7; 
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;    
  background-color: #fff;
}

.form-scroll-wrapper {
  flex: 1;            
  overflow-y: auto; 
  position: relative;
  bottom: 20px;  
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 40px;
}
.logo img {
  height: 40px;
}

.form-container {
  max-width: 480px;
  width: 100%;
  margin: 0 auto;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}
.form-header h1 {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
}
.sign-in-link {
  font-size: 14px;
  color: #4F46E5;
  text-decoration: none;
  font-weight: 500;
}
.sign-in-link:hover {
  text-decoration: underline;
}

.form-group {
  margin-bottom: 10px;
}
.form-group label {
  display: block;
  font-size: 14px;
  color: #374151;
  margin-bottom: 8px;
}
.form-group input {
  width: 100%;
  padding: 10px 12px;
  border: 1px solid #D1D5DB;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: border-color 0.2s;
}
.form-group input:focus {
  border-color: #4F46E5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.1);
}

.signup-submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #C3C3C3;
  color: #ffffff;
  border: none;
  border-radius: 24px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
}
.submit-btn:hover {
  background-color: #1F2937;
}

.error-msg {
  margin-top: 10px;
  color: red;
  font-size: 13px;
}

.terms-checkbox {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
}

.terms-label {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  font-size: 0.9em;
  color: #555;
  line-height: 1.4; 
}

.terms-input {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  margin-top: 5px;
}

.terms-text {
  margin: 0;
  padding: 0;
  position: relative;
  bottom: 4px;
}

.terms-text span{
  color: #181818;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 500;
}

.terms-link:hover {
  color: #0056b3;
}


/* Footer  */
.footer-text {
  position: relative;
  bottom: 20px;
  font-size: 13px;
  color: #9CA3AF;
  text-align: center;
  padding-top: 20px;
}
.footer-text span{
  text-decoration: underline;
}

/* Right Panel */
.right-panel {
  flex: 3; 
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.feature-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}